{extend name="public/base"/}
{block name="title"}
回收站列表
{/block}
{block name="content"}
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-home"></i>&nbsp;回收站管理
            </li>
            <li>文章列表</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <!--<a href="{:url('admin/article/add')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;回收站添加</a>-->
        <div class="row">
            <div class="col-xs-12">
                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption">文章列表</span>
                        <div class="widget-buttons">
                        </div>
                    </div>
                    <div class="widget-body">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>标题</th>
                                <th>作者</th>
                                <th>所属栏目</th>
                                <th>标签</th>
                                <th>软删除时间</th>
                                <th>是否显示</th>
                                <th>是否置顶</th>
                                <th>浏览数</th>
                                <th>评论数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="articles" id="vo"}
                            <tr id="article_tr_{$vo.id}">
                                <td>{$vo.id}</td>
                                <td>{if mb_strlen($vo.title)<20}{$vo.title}{else /}{$vo.title|mulsubstr=20}...{/if}</td>
                                <td>{$vo.author}</td>
                                <td>{$vo.cate.catename}</td>
                                <td>
                                    {volist name="$vo.label" id="vo1"}
                                    {$vo1.labelname}
                                    {/volist}
                                </td>
                                <td>{$vo.delete_time|date="Y-m-d H:i"}</td>
                                <td>{if($vo.is_show == 1)}是{else /}否{/if}</td>
                                <td>{if($vo.is_top == 1)}是{else /}否{/if}</td>
                                <td>{$vo.browse_num}</td>
                                <td>{$vo.comment_num}</td>
                                <td>
                                    <a href="#" class="btn btn-azure btn-xs article-recover" dataid="{$vo.id}">恢复</a>
                                    <a href="#" class="btn btn-danger btn-xs article-true-del" dataid="{$vo.id}">彻底删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
{/block}
{block name="js"}
<script>
    $(function () {
        $(".article-true-del").click(function () {
            var id = $(this).attr('dataid');
            layer.confirm('确定要彻底删除吗？', {
                icon: 3,
                title: '文章删除'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/recycle/delete')}",
                    type: 'post',
                    data: {id:id},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            }, function () {
                                $("#article_tr_"+id).remove();
                            });
                        } else {
                            layer.open({
                                icon: 5,
                                anim: 6,
                                title: '回收站清理',
                                content: data.msg
                            });
                        }
                    }
                });
            });
            return false;
        });
        $(".article-recover").click(function () {
            var id = $(this).attr('dataid');
            layer.confirm('确定要恢复吗？', {
                icon: 3,
                title: '文章恢复'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/recycle/recover')}",
                    type: 'post',
                    data: {id:id},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 1000
                            }, function () {
                                $("#article_tr_"+id).remove();
                            });
                        } else {
                            layer.open({
                                icon: 5,
                                anim: 6,
                                title: '文章恢复',
                                content: data.msg
                            });
                        }
                    }
                });
            });
            return false;
        });
    });
</script>
{/block}