<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="h1ml,博客,IT,程序员,个人博客" />
    <meta name="description" content="code life是一个技术交流的论坛，提供了一个交流和分享技术经验的论坛社区平台！" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/index/css/pages.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/style.css">

    <link rel="stylesheet" href="/static/lib/web/main.css" />
    {block name="css"}{/block}
    <title>{block name="title"}{/block}</title>
</head>
<body>
{include file="public/top"}
{include file="public/login"}
<canvas></canvas>
{block name="content"}{/block}
{include file="public/bottom"}
</body>
<!--<script src="https://hm.baidu.com/hm.js?efe374880900f380d2acd649fca2ae7d"></script>
<script src="https://zz.bdstatic.com/linksubmit/push.js"></script>-->
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="/static/index/js/scrollReveal.js"></script>
<script src="/static/index/js/fastclick.js"></script>
<script src="/static/index/js/jquery.lazyload.js"></script>
<script src="/static/index/js/main.js"></script>
<script src="/static/index/js/chatRoom.js"></script>
<script src="/static/index/js/default.js"></script>
<script src="https://cdn.blog.techauch.com/js/scrollReveal.js"></script>
<script src="/static/lib/web/main.js"></script>
<script type="text/javascript" color="0,0,255" opacity='0.5' zIndex="-2" count="99" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
{block name="js_src"}{/block}
{block name="js"}
{/block}
</html>