<div class="frame" data-scroll-reveal=" enter from the left after 0.3s">
<h2 class="member">技术讨论群</h2>
	<div class="row">
		<div class="col-lg-6 col-sm-6 col-xs-6">
			<img src="https://cdn.blog.techauch.com/img/qrcode_for_gh_fb94528e571e_258 (1).jpg" width="145px"
			height="145px" alt="code life博客">
			<p style="text-align: center;">微信公众号</p>
			<p></p>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6">
			<img src="https://cdn.blog.techauch.com/img/qq.png" width="145px"
			height="145px" alt="code life博客">
			<p style="text-align: center;">QQ群</p>
			<p></p>
		</div>
		<div style="text-align: center;">QQ群直通车：<a style="color: black;">577155838</a> <a target="_blank"
		href="//shang.qq.com/wpa/qunwpa?idkey=211e7ac19d8dbf39d07cee5cc1504f9a9c8cdc4ff5455e1a850886c1c7d7bcbc"><img
		border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="码农交流群"
		title="码农交流群"></a>
		</div>
	</div>
</div>
