<div class="frame" data-scroll-reveal=" enter from the left after 0.4s">
<h2 class="member">放松一下</h2>
	<object type="application/x-shockwave-flash" style="outline: none;"
		data="http://cdn.abowman.com/widgets/dog/dog.swf?3?" width="224"
		height="250">
		<param name="movie" value="http://cdn.abowman.com/widgets/dog/dog.swf?3?"></param>
		<param name="AllowScriptAccess" value="always"></param>
		<param name="wmode" value="opaque"></param>
		<param name="bgcolor" value="FFFFFF" />
	</object>
</div>
