<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"
					style="text-align: center;">免注册登录</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<span class="login_method">登录方式：</span>
					<<!--ul>
						<li><a href="#" target="_blank" title="QQ"><img src="https://cdn.blog.techauch.com/img/QQ.png"></a></li>
						<li><a href="#" target="_blank" title="百度"><img
								src="https://cdn.blog.techauch.com/img/baidu.png"></a></li>
						<li><a href="#" target="_blank" title="微博"><img
								src="https://cdn.blog.techauch.com/img/sinaweibo.png"></a></li>
						<li><a href="#" target="_blank" title="GitHub"><img
								src="https://cdn.blog.techauch.com/img/github.png"></a></li>
						<li><a href="#" target="_blank" title="CSDN"><img
								src="https://cdn.blog.techauch.com/img/csdn.png"></a></li>
					</ul>-->
					<div class="login_other">
						<a href="JavaScript:alert('那就真的没有了')">没有我要的登录？</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>